<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ __('Connexion', 'auth', 'fr') }} – BugQuest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ bq_assets_header('global') }}
</head>
<body class="fullvh">

<div class="container-centered">
    <h1>🔐 {{ __('Connexion', 'auth', 'fr') }}</h1>
    <div class="glow-bar"></div>
    {% include '@framework/partials/language-switcher.twig' %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    <form method="post" action="{{ bq_route_url('auth.login') }}" class="form">
        <label for="email">{{ __('Adresse email', 'auth', 'fr') }}</label>
        <input type="text"
               name="email"
               id="email"
               value="{{ email }}"
               class="{{ error ? 'error' }}" required>
        <label for="password">{{ __('Mot de passe', 'auth', 'fr') }}</label>
        <input type="password"
               name="password"
               id="password"
               class="{{ error ? 'error' }}" required>

        <input class="button-submit" type="submit" value="{{ __('Se connecter', 'auth', 'fr') }}"/>
    </form>
</div>

<div class="footer-note">
    BugQuest Web Framework • v1.0 <br>
    <a href="/">⬅ {{ __('Retour au site', 'auth', 'fr') }}</a>
</div>
{{ bq_assets_footer('global') }}
</body>
</html>
