{% extends '@framework/admin/layout.twig' %}

{% block title %}Page Builder{% endblock %}

{% block content %}
    <div class="builder-header">
        <label for="page-title">Titre de la page :</label>
        <input type="text" id="page-title" name="title" value="{{ page.title }}" />
        <label for="page-slug">Slug de la page :</label>
        <input type="text" id="page-slug" name="slug" value="{{ page.slug }}" />
    </div>
    <div id="gjs"
         data-id="{{ page }}"
         data-theme="{{ theme }}"
         data-blocks="{{ blocks }}"
    ></div>
{% endblock %}
