<!DOCTYPE html>
<html lang="{{ bq_locale() }}">
<head>
    <meta charset="UTF-8">
    <title>{{ __('Installation', 'install', 'fr') }} | BugQuest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ bq_assets_header('global') }}
    {{ bq_assets_header('admin-light') }}
</head>
<body class="fullvh container-centered-grid">
<form method="post" autocomplete="off" class="container-centered">
    <h1>🛠 <br> BugQuest <br>Web Framework</h1>

    <div class="glow-bar"></div>
    {% include '@framework/partials/language-switcher.twig' %}
    <p>{{ __('Créons votre compte administrateur pour débuter l’aventure.', 'install', 'fr') }}</p>

    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    <label for="email">📧 Email</label>
    <input type="email"
           id="email"
           name="email"
           class="{{ error ? 'error' }}"
           placeholder="admin@exemple.com"
           value="{{ email }}"
           required>

    <label for="username">👤 {{ __("Nom d'utilisateur", 'install', 'fr') }}</label>
    <input type="text"
           id="username"
           name="username"
           class="{{ error ? 'error' }}"
           placeholder="Admin"
           value="{{ username|default('admin') }}"
           required>

    <label for="password">🔒 {{ __("Mot de passe", 'install', 'fr') }}</label>
    <input type="password"
           id="password"
           name="password"
           class="{{ error ? 'error' }}"
           value="{{ password }}"
           required>

    <label for="confirm_password">✅ {{ __("Confirmation du mot de passe", 'install', 'fr') }}</label>
    <input type="password"
           id="confirm_password"
           name="confirm_password"
           class="{{ error ? 'error' }}"
           required>

    <button class="button-submit" type="submit">🚀 {{ __("Lancer l'installation", 'install', 'fr') }}</button>
</form>

<p>BugQuest Web Framework • v1.0</p>

{{ bq_assets_footer('global') }}
</body>
</html>
