<div class="footer-admin-menu">
    <ul>
        {% for menu in menus %}
            <li class="{{ menu.route and bq_is_route(menu.route) ? 'active' }}">
                {% set href = menu.url ?? (menu.route ? bq_route_url(menu.route) : '#') %}

                {% if menu.route or menu.url %}
                    <a href="{{ href }}">
                        {% if menu.icon %}{{ menu.icon | raw }}{% endif %}
                        {{ menu.name }}
                    </a>
                {% else %}
                    <div>
                        {% if menu.icon %}{{ menu.icon | raw }}{% endif %}
                        {{ menu.name }}
                    </div>
                {% endif %}

                {% if menu.children %}
                    <ul class="submenu">
                        {% for child in menu.children %}
                            {% set childHref = child.url ?? (child.route ? bq_route_url(child.route) : '#') %}
                            <li class="{{ bq_is_route(child.route) ? 'active' }}">
                                <a href="{{ childHref }}">
                                    {% if child.icon %}{{ child.icon | raw }}{% endif %}
                                    {{ child.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
